* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
}

.full-screen-container {
    background-image: url("../customerForm/background_image.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-form-container {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 30px 30px;
    margin:20px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
}

.customer-form-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 1.8em;
    font-weight: bold;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
::placeholder {
    color: rgb(68, 67, 67);
  }
.input-group label {
    flex: 1; 
    text-align: left; 
    color: white;
    font-weight: lighter;
    font-size: 1.2em;
    margin-bottom: 7px;
}

.input-group input {
    flex: 2; 
    font-size: 1em;
    padding: 5px;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 5px;
    color: hsl(201, 100%, 6%);;
    font-weight: lighter;
}
  
.input-radio-group{
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: left;
  margin-bottom: 10px;
  flex: 2; 
  text-align: center; 
  color: white;
  font-weight: lighter;
  font-size: 1.2em;
}
.radio-button  {
    text-align: center; 
    font-weight: lighter;
    font-size: 1.5em;
    font-size: 1em;
    padding-right: 20px;
    color: white;
    cursor: pointer;
}
.gender-label{
    padding-right: 20px;
}
.input-group input:focus {
    border: 1px solid hsl(201, 100%, 78%)
}

.select-container {
    display: flex;
  width: 200px;
  margin: 20px;
  flex: 1; 
}
.input-select{
    flex: 2; 
    width: 100%;
    font-size: 1em;
    padding: 5px;
    background-color: hsla(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    border-radius: 5px;
    color: hsl(201, 100%, 6%);
    font-weight: lighter;
}

.customer-form-button {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px; 
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    color: white;
    font-weight: lighter;
    margin-top: 20px;
    cursor: pointer;
}

.customer-form-button:hover {
    background-color: hsla(201, 100%, 50%, 0.3)
}

.customer-form-button:focus {
    background-color: hsla(201, 100%, 50%, 0.5)
}
.display-container{
  margin-bottom: 15px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.display-info-header{
    padding: 10px 0 0 0;
    margin-bottom:0px;
    color: white;
}
.no-margin {
    padding: 0px;
    margin: 20px 0px 0px 0px;
}
.display-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    color: rgb(230, 227, 227);
    font-weight: lighter;
    font-size: 1.1rem;
}
.display-main{
    display: flex;

}
.display-label{
    width: 120px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin:0;
}

